@model IEnumerable<TeamPro.Models.Estadio>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnoConstrucao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipe.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capacidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Localizacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnoConstrucao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Equipe.Nome)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EstadioId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.EstadioId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.EstadioId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
